/* =================================
 WaterGuardian-X AI CSS
================================= */


*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:"Segoe UI",sans-serif;

}




body{


min-height:100vh;


display:flex;


justify-content:center;


align-items:center;



background:

linear-gradient(
135deg,
#0077b6,
#90e0ef
);



}





.chat-container{


width:100%;


padding:20px;


}




.chat-card{


width:450px;


max-width:95%;


margin:auto;


background:

rgba(255,255,255,.25);



backdrop-filter:

blur(15px);



padding:30px;



border-radius:30px;



box-shadow:

0 20px 50px rgba(0,0,0,.2);


}





.chat-card h1{


text-align:center;


color:#023e8a;


}



.chat-card p{


text-align:center;


}





#chatBox{


height:350px;


overflow-y:auto;


background:white;


padding:20px;


border-radius:20px;


margin:20px 0;


}





.bot,
.user{


padding:12px;


border-radius:15px;


margin-bottom:10px;


}



.bot{


background:#caf0f8;


}




.user{


background:#90e0ef;


text-align:right;


}






.input-area{


display:flex;


gap:10px;


}




.input-area input{


flex:1;


padding:15px;


border-radius:20px;


border:none;


}




button{


padding:15px 25px;


border:none;


border-radius:20px;


background:#023e8a;


color:white;


font-weight:bold;


cursor:pointer;


}



a{


display:block;


text-align:center;


margin-top:20px;


text-decoration:none;


color:#023e8a;


font-weight:bold;


}