/* Government Header */

.gov-header{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px 30px;

background:

linear-gradient(
90deg,
#ff9933,
white,
#138808
);

box-shadow:
0 5px 20px rgba(0,0,0,.2);

}



.logo-section{

display:flex;

align-items:center;

gap:20px;

}



.india-logo{

font-size:45px;

}



.gov-header h2{

color:#003049;

font-size:22px;

}



.gov-header p{

margin:0;

font-size:14px;

}



.profile{

background:#003049;

color:white;

padding:12px 20px;

border-radius:20px;

}



@media(max-width:700px){

.gov-header{

flex-direction:column;

gap:15px;

}

}